*~
paper/tw
paper/*.aux
paper/*.log
paper/*.bbl
paper/*.blg
paper/*.pdf

src/*.cm[iox]
src/*.o
src/._bcdi
src/._ncdi
src/._d
src/app
src/config.mk
src/Grammar.mli
src/Grammar.ml
src/Grammar.output
src/Parse.ml
